<div ng-controller="DashboardCtrl">

    <div class="row">

        <div class="col-lg-6">

            <div class="row">

                <h4>{{ 'cards.list' | i18n }}</h4>

                <div class="panel panel-{{ category.type }}" ng-repeat='category in categories'>

                    <div class="panel-heading">{{ category.name }}</div>

                    <div class="panel-body">
                        <div class="input-group" ng-repeat="(key, card) in cards | cardStatus:category.name">
                            <span class="input-group-addon">#{{ card.ref }}</span>
                            <a class="form-control" ng-click="openCardDetails(card)" style="cursor:pointer;">
                                {{ card.text }}
                            </a>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <img ng-src='{{ category.logo }}' width="40px">
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-1">&nbsp;</div>

        <div class="col-lg-5">

            <div class="row" ng-if="selectedCard">

                <h4>{{ 'card.details' | i18n }}</h4>

                <div class="panel panel-primary">
                    <div class="panel-heading">#{{ selectedCard.ref }}</div>
                    <div class="panel-body">
                        <form>
                            <label>{{ 'text' | i18n }}</label>
                            <textarea disabled class="form-control">
                                {{ selectedCard.text }}
                            </textarea>
                            <label>{{ 'commits.list' | i18n }}</label>
                            <ul>
                                <li ng-repeat='commit in selectedCard.commits'>{{ commit.id }}</li>
                            </ul>
                            <label>{{ 'links.list' | i18n }}</label>
                            <ul>
                                <li ng-repeat='link in selectedCard.links'><a href="{{ commit.url }}">{{ link.name }}</a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row">

                <h4>{{ 'activities' | i18n }}</h4>

                <div class="panel panel-primary">
                    <div class="panel-body">

                        <ul class="list-group">
                            <li class="list-group-item success" ng-repeat='activity in activities'>
                                #{{ activity.card.ref }} : {{ activity.event | i18n }} @ {{ activity.timestamp | date:dateTimeFormat }}
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>