<div ng-controller="DashboardCtrl">

    <!-- TO DO -->
    <div class="panel panel-primary">
        <div class="panel-heading">TODO</div>
        <div class="panel-body">
            <span ng-repeat="card in cards | cardStatus:'TODO'">{{ card.ref }} - {{ card.text }}</span>
        </div>
    </div>

    <!-- DOING -->
    <div class="panel panel-primary">
        <div class="panel-heading">DOING</div>
        <div class="panel-body">
            <span ng-repeat="card in cards | cardStatus:'DOING'">{{ card.ref }} - {{ card.text }}</span>
        </div>
    </div>

    <!-- PUSHED -->
    <div class="panel panel-primary">
        <div class="panel-heading">PUSHED</div>
        <div class="panel-body">
            <span ng-repeat="card in cards | cardStatus:'PUSHED'">{{ card.ref }} - {{ card.text }}</span>
        </div>
    </div>

    <!-- BUILD -->
    <div class="panel panel-warning">
        <div class="panel-heading">BUILT</div>
        <div class="panel-body">
            <span ng-repeat="card in cards | cardStatus:'BUILT'">{{ card.ref }} - {{ card.text }}</span>
        </div>
    </div>

    <!-- DEPLOYED -->
    <div class="panel panel-success">
        <div class="panel-heading">DEPLOYED</div>
        <div class="panel-body">
            <span ng-repeat="card in cards | cardStatus:'DEPLOYED'">{{ card.ref }} - {{ card.text }}</span>
        </div>
    </div>

</div>