<div ng-controller="DashboardCtrl">

    <!-- TO DO -->
    <div class="panel panel-primary">
        <div class="panel-heading">TODO</div>
        <div class="panel-body">
            <div class="input-group" ng-repeat="card in cards | cardStatus:'TODO'">
                <span class="input-group-addon">{{ card.ref }}</span>
                <input type="text" class="form-control" value="{{ card.text }}" disabled>
                <span class="input-group-addon">{{ card.rating }}</span>
            </div>
        </div>
    </div>

    <!-- DOING -->
    <div class="panel panel-primary">
        <div class="panel-heading">DOING</div>
        <div class="panel-body">
            <div class="input-group" ng-repeat="card in cards | cardStatus:'DOING'">
                <span class="input-group-addon">{{ card.ref }}</span>
                <input type="text" class="form-control" value="{{ card.text }}" disabled>
                <span class="input-group-addon">{{ card.rating }}</span>
            </div>
        </div>
    </div>

    <!-- PUSHED -->
    <div class="panel panel-primary">
        <div class="panel-heading">PUSHED</div>
        <div class="panel-body">
            <div class="input-group" ng-repeat="card in cards | cardStatus:'PUSHED'">
                <span class="input-group-addon">{{ card.ref }}</span>
                <input type="text" class="form-control" value="{{ card.text }}" disabled>
                <span class="input-group-addon">{{ card.rating }}</span>
            </div>
        </div>
    </div>

    <!-- BUILD -->
    <div class="panel panel-warning">
        <div class="panel-heading">BUILT</div>
        <div class="panel-body">
            <div class="input-group" ng-repeat="card in cards | cardStatus:'BUILT'">
                <span class="input-group-addon">{{ card.ref }}</span>
                <input type="text" class="form-control" value="{{ card.text }}" disabled>
                <span class="input-group-addon">{{ card.rating }}</span>
            </div>
        </div>
    </div>

    <!-- DEPLOYED -->
    <div class="panel panel-success">
        <div class="panel-heading">DEPLOYED</div>
        <div class="panel-body">
            <div class="input-group" ng-repeat="card in cards | cardStatus:'DEPLOYED'">
                <span class="input-group-addon">{{ card.ref }}</span>
                <input type="text" class="form-control" value="{{ card.text }}" disabled>
                <span class="input-group-addon">{{ card.rating }}</span>
            </div>
        </div>
    </div>

</div>